body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}
.App {
  text-align: center;
  background: #222;
}

.App-header {
  width: 100%;
  background-color: #111;
  height: 50px;
  padding: 20px;
  color: white;
  margin-bottom: 0.3rem;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@media (max-width: 500px) {
  .App-header,
  img {
    display: none;
  }
}
